.wrapper {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(58, 103, 112, 1) 16%,
    rgba(31, 152, 179, 1) 100%
  );
  box-shadow: var(--primary-shadow);
}

.navigation {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 249px;
  padding-top: 120px;
  gap: 15px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation {
    width: 170px;
  }
}

.headerLink {
  font-size: 20px;
  font-weight: 500;
  width: 120px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-shadow: 0px 1px var(--black);
  color: var(--primary-light-color);
  opacity: 0.6;

  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headerLink:hover,
.headerLink:focus,
.active {
  opacity: 1;
  scale: 1.1;
  box-shadow: var(--secondary-shadow);
}
