.title {
  font-size: 34px;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  text-transform: uppercase;
}

.castomInputWrapper {
  border-radius: 4px;
  box-shadow: var(--volume-shadow);
}

.castomInput {
  position: relative;
  border-radius: 4px;
  box-shadow: var(--accent-shadow);
}

.formInput {
  font-size: 16px;
  color: var(--primary-dark-color);
  position: absolute;
  background-color: transparent;
  width: calc(100% - 66px);
  height: 52px;
  border-radius: 4px;
  padding: 0 0 0 65px;
  display: flex;
  border: 1px solid var(--gray-color);
  outline: transparent;
}

.formInput::placeholder {
  opacity: 0.5;
  user-select: none;
}

.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus,
.formInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 1s;
}

.button {
  background-color: transparent;
  width: 54px;
  height: 54px;
  border: none;
  border-right: 1px solid var(--gray-color);

  z-index: 999;
  position: relative;
  cursor: pointer;
}

.button:hover .iconSearch,
.button:focus .iconSearch {
  fill: var(--primary-turquoise-color);
}

.iconWrapper {
  display: flex;
  justify-content: center;
}

.iconSearch {
  fill: var(--gray-color);
  transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.titleTwo {
  font-size: 23px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 45px 0;
}

.caption {
  padding-top: 35px;
  font-size: 18px;
  font-weight: 500;
}
